* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-image: url(/pizza.jpg);
  background-size: cover;
  height: 60vh;
  text-decoration: none;
}
.container-mt-5 {
  background-color: white;
  display: flex;
}
.text-uppercase {
  display: flex;
}
.text-white {
  position: relative;
  left: 700px;
  top: -150px;
  font-size: 100px;
}
.text {
  color: white;
}
.first {
  font-size: 0.5em;
  color: white;
}
h2 {
  font-size: 0.5em;
  color: red;
}
.nav {
  list-style: none;
  text-decoration: none;
  float: right;
}

.nav ul {
  text-decoration: none;
}

.nav ul li {
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  padding: 20px;
  color: white;
}
.nav ul li:hover {
  color: blue;
}
