* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-image: url(./pizza.jpg);
  background-size: cover;
  height: 60vh;
  text-decoration: none;
  font-size: 40px;
}
.container-mt-5 {
  background-color: white;
  display: flex;
}
.text-uppercase {
  display: flex;
}
.text-secondary {
  position: relative;
  float: right;
  top: 150px;
  left: 100px;
  font-size: 100px;
}

.first {
  font-size: 0.5em;
  color: white;
}
h2 {
  font-size: 0.5em;
  color: red;
}
.nav {
  list-style: none;
  text-decoration: none;
  float: right;
}

.nav ul {
  text-decoration: none;
}

.nav ul li {
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  padding: 20px;
  color: white;
}
.nav ul li:hover {
  color: blue;
}
.nav ul li a {
  text-decoration: none;
}
/* menu */
.container {
  /* align-items: center; */
  text-align: center;
  margin-top: 30px;
}
h4 {
  color: red;
}
.col {
  border: 1px solid black;
}

/* extra */
.container1 {
  display: flex;
  justify-content: space-around;
}
.lists ul li {
  list-style: none;
  font-size: 20px;
}
.crusts ul li {
  list-style: none;
  font-size: 20px;
}

/* order */
.container-2 {
  background-image: url(./img/together.jpg);
  background-size: cover;
  display: flex;
  text-transform: uppercase;
  text-align: center;
  color: red;
  padding: 20px;
  background-color: black;
  /* opacity: 0.7; */
  width: 800px;
  margin-left: 300px;
}
.h6 {
  color: red;
}

.itemms {
  display: flex;
}
.form {
  width: 300px;
  align-items: center;
  position: relative;
  left: 250px;
}
.fun {
  background-color: black;
  width: 800px;
  align-items: center;
  opacity: 0.7;
  position: relative;
  left: 300px;
}
.location {
  background-image: url(./img/together.jpg);
  background-repeat: no-repeat;
  background-color: black;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  background-size: cover;
}
.loc {
  color: white;
}
label {
  color: red;
  text-transform: uppercase;
  margin-top: 30px;
}
option {
  text-align: center;
  align-items: center;
}
.checkoutBox {
  align-items: center;
}
.icons {
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
